<div class="container" (window:beforeunload)="modal.clearAll()" (touchstart)="modal.resetIdle($event)" (keydown)="modal.resetIdle()">
	<div>
		<h3 class="heading">It's great to see you again!</h3>
		<p class="heading">You or your family must have visited us at least once in order to check in. If it's your first time, please click <a [routerLink]="['/create-new']">here</a> to go to the first time user page. </p>
	</div>
	<form 
		novalidate 
		[formGroup]="myform" 
		(ngSubmit)="signIn()"
		autocomplete="my-password"
		(keydown.enter)="onKeydown($event)"
	>
		<div 
			class="alert alert-danger formError fixed-top"
			*ngIf="error"
			role="alert"
		>
			<button type="button" class="close" aria-label="Close" (click)=closeAlert()>
			  <span aria-hidden="true">&times;</span>
			</button>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			{{noSubmit}}

		</div>
		<div class="card">
			<div class="card-body">
				<div 
					class="form-group" 
					[ngClass]="{
		  				'text-danger': code.invalid && (error || code.touched || code.dirty),
		  				'text-success': code.valid && (!error || code.touched || code.dirty)	
					}"
				>
					<div class="form-group input-group">
						<label 
							class="input-group-addon" 
							for="code"
						>
							* Family Code
						</label>
						<input 
							type="text"
							id="code" 
							class="form-control form-control-lg" 
							formControlName="code" 
							placeholder="Last 4 digits of your phone#"
						>
					</div>
					<div class="form-control-feedback" *ngIf="code.errors && (error || code.touched || code.dirty)">
						<p *ngIf="code.errors.required">
							Family code is required.
						</p>
						<p *ngIf="code.errors.minlength || code.errors.maxlength">
							Family code must be 4 digits.
						</p>
					</div>
				</div>
				<div 
					class="form-group" 
					[ngClass]="{
		  				'text-danger': lastname.invalid && (error || lastname.touched || lastname.dirty),
		  				'text-success': lastname.valid && (!error || lastname.touched || lastname.dirty)	
					}"
				>
					<div class="form-group input-group">
						<label 
							class="input-group-addon" 
							for="lastName"
						>
							* Family's Last Name
						</label>
						<input 
							type="text" 
							id="lastName" 
							class="form-control form-control-lg" 
							formControlName="lastname" 
						>
					</div>
					<br>
					<div class="form-control-feedback" *ngIf="lastname.errors && (error || lastname.dirty || lastname.touched)">
						<p *ngIf="lastname.errors.required">
							Last name is required.
						</p>
					</div>
				</div>
				<div class="form-group">
				    <label class="title-text" for="childCount">* How many children will be receiving service today?</label>
				    <div id="childCount" class="btn-group count" ngbRadioGroup name="radioBasic">
					    
				    	<label class="btn btn-lg btn-outline-primary" ngbButtonLabel>
				    		<input type="radio" class="form-control" name="childCount" value="1" ngbButton formControlName="childCount" (change)="updateCount()" required><span class="button-text">1</span>
				    	</label>
					    	
						<label class="btn btn-lg btn-outline-primary" ngbButtonLabel>
				    		<input type="radio" class="form-control" name="childCount" value="2" ngbButton formControlName="childCount" (change)="updateCount()" required><span class="button-text">2</span>
				    	</label>
				    	<label class="btn btn-lg btn-outline-primary" ngbButtonLabel>
				    		<input type="radio" class="form-control" name="childCount" value="3" ngbButton formControlName="childCount" (change)="updateCount()" required><span class="button-text">3</span>
				    	</label>
				    	<label class="btn btn-lg btn-outline-primary" ngbButtonLabel>
				    		<input type="radio" class="form-control" name="childCount" value="4" ngbButton formControlName="childCount" (change)="updateCount()" required><span class="button-text">4</span>
				    	</label>
				    	<label class="btn btn-lg btn-outline-primary" ngbButtonLabel>
				    		<input type="radio" class="form-control" name="childCount" value="5" ngbButton formControlName="childCount" (change)="updateCount()" required><span class="button-text">5</span>
				    	</label>
					</div>
				</div>
			  	<div class="form-group"	>
					<ul 
						class="form-group list-group list-group-flush"
						formArrayName="children" 
						*ngFor="let child of children.controls.slice(0, childCount.value); let i=index;"
					>
						<li 
							class="form-group list-group-item"
							[formGroup]="child"
						>
							<div
								[ngClass]="{
										'text-danger': child.get('childName').invalid && (error || child.get('childName').touched || child.get('childName').dirty),
										'text-success': child.get('childName').valid && (!error || child.get('childName').touched || child.get('childName').dirty)
								}"
							>
							
								<div
									class="form-group input-group"
								>
									<label class="input-group-addon" [attr.for]="'child' + i + '_childName'">* Child {{i+1}} First Name</label>
									<input 
										type="text" 
										[attr.id]="'child' + i + '_childName'"
										class="form-control form-control-lg" 
										formControlName="childName" 
										required>
								</div>
								<div class="form-control-feedback" *ngIf="child.get('childName').errors && (error || child.touched || child.dirty)">
									<p *ngIf="child.get('childName').errors.required && (error || child.get('childName').touched || child.get('childName').dirty)">
										Child's name is required.
									</p>
								</div>
							</div>
							<div
								[ngClass]="{
										'text-danger': child.get('childGender').invalid && error,
										'text-success': child.get('childGender').valid
								}"
							>
								<div 
									class="form-group input-group btn-group"
								>
									
									<div class="btn-group" ngbRadioGroup name="radioBasic">
								    	<label class="btn btn-lg btn-outline-primary" ngbButtonLabel>
								    		<input type="radio" [attr.id]="'child' + i + '_childGender'" class="form-control" value="boy" ngbButton formControlName="childGender">
								    		<span class="button-text">He</span>
								    	</label>
										<label class="btn btn-lg btn-outline-primary" ngbButtonLabel>
								    		<input type="radio" [attr.id]="'child' + i + '_childGender'" class="form-control" value="girl" ngbButton formControlName="childGender">
								    		<span class="button-text">She</span>
								    	</label>
								    </div>
								</div>
								<div 
									class="form-control-feedback" 
									*ngIf="child.get('childGender').errors && error"
								>
									<p 
										*ngIf="child.get('childGender').errors.required && error"
									>
										Should we call your child using She or He?
									</p>
								</div>
							</div>
						</li>
					</ul>
			  	</div>
			</div>
	  	</div>
		<div class="card form-group">
			<button type="submit" class="btn btn-block btn-lg btn-primary">Check Me In</button>
		</div>
		<div class="card form-group">
			<button type="button" class="btn btn-block btn-lg btn-secondary" [routerLink]="['']">Back to Home</button>
		</div>
	</form>
	<app-idle-check-modal #modal></app-idle-check-modal>
</div>

<!-- 
** use (change) on radio input to capture the value change instead of (click). the clicks happens before the binded property value changes.
** USE FORMARRAY for a group of input fields like a group of radio buttons to capture its value
-->