<div class="container">
	<div class="heading-img">
		<img src="../../assets/the-gang-header.jpg" width="100%">
	</div>
	<h1 class="center">Are you ready for your adventure?</h1>
	<h3 class="center">We sure are.  Let's check you in. </h3>
 	<button type="button" class="btn btn-success btn-block btn-lg" [routerLink]="['/sign-in']">Returning Family - Check In </button>
 	<br>
	<br>
 	<button type="button" class="btn btn-warning btn-block btn-lg" [routerLink]="['/create-new']">First Time - Create Account & Check In</button>	
	
</div>


