<div class='container'>
	<!-- <div class="heading-img">
		<img src="../../assets/the-gang-header.jpg" width="100%">
	</div> -->
	<div class='title-block'>
		<div class='box'>
			<h1 class="text">Are you ready for your haircut adventure?</h1>
		</div>
	</div>
 	<button type="button" class="btn btn-success fixed-size btn-lg check-in" [routerLink]="['/sign-in']"> Check In </button>
 	<br>
	<br>
 	<button type="button" class="btn btn-warning fixed-size btn-lg sign-up" [routerLink]="['/create-new']">Create Account</button>	
	
</div>


