.heading-img {
	margin: 40px 0 40px 0; 
}

.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}

h1 {
	font-size: 4vw;
	color: white
}

.container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
}
.fixed-size {
	width: 75%;
	position: absolute;
	margin: auto;
	padding: 10px;
}

.check-in {
	bottom: 15%;
}

.sign-up {
	bottom: 5%;
}

.title-block {
	background-color: rgb(0, 0, 0, 0.5);
	position: absolute;
	top: 30%;
	width: 75%;
	margin: auto;
	border-radius: 15px;
}

.box {
	border: 2px solid white;
	border-radius: 15px;
	margin: 20px;
}

.text {
	margin: 20px 50px 20px 50px;
	text-align: center;
}

body{
	background-color: #25283D;
	background-image: url('../../assets/landing_bg.png') !important;
	background-repeat: no-repeat !important;
    height:100%; /* force the BODY element to match the height of the HTML element */
}
