html body {
	background-color: white !important;

}

table {
	background-color: white;	
}

.header {
	color: white;
	text-align: center;
}

form {
	padding: 0px 15px 0px 15px;
	background-color: white;
}