<div class="waitlist">
	<div class="header">
		<h1>
		  Today's Waitlist
		</h1>
	</div>
	<form 
		novalidate 
		[formGroup]="waitlistNotesForm" 
		autocomplete="nofill"
	>
		<table class="table table-striped container">
			<thead>
				<tr class="row">
					<th class="col-md-1" scope="col">#</th>
					<th class="col-md-1" scope="col">New Cust.</th>
					<th class="col-md-1" scope="col">Family Code</th>
					<th class="col-md-2" scope="col">Last Name</th>
					<th class="col-md-1" scope="col">Check-in Time Stamp</th>
					<th class="col-md-4" scope="col">Child's First Name & Status</th>
					<th class="col-md-2" scope="col">Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr
					class="form-group row"
					formArrayName="familyControlArry" 
					*ngFor="let family of families; let i = index;"
				>
					<td class="col-md-1" scope="row">{{ i+1 }}</td>
					<td class="col-md-1">{{family.data.newCustomer}}</td>
					<td class="col-md-1">{{family.data.code || 'N/A'}}</td>
					<td class="col-md-2">{{family.data.lastname}}</td>
					<td class="col-md-1">{{family.data.dateTime.dateString}}</td>
					<td class="col-md-4">
						<tr *ngFor="let child of family.data.children | childCheckInFilter; let j = index;">
							<td>{{child.childName}}</td>
							<td>{{child.gender || 'N/A'}}</td>
							<td *ngIf="!child.status"><button class='btn btn-primary' (click)="checkInChild($event, family, i, child, j)">Start Service</button></td>
							<td *ngIf="child.status"><div>Checked In </div></td>
							<td *ngIf="child.status"><button class='btn btn-secondary' (click)="checkInChild($event, family, i, child, j)"> Undo </button></td>
							<td *ngIf="!child.sync && child.sync!=null"><div>Sync Error</div></td>
						</tr>
					</td>
					<td class="form-group col-md-2" [formGroup]=familyControlArry.controls[i] >
						<!-- must attach the formcontrol to the formgroup usign the [formGroup] notation -->
						<textarea 
							id="'notes_'+i" 
							class="form-control form-control-lg" 
							formControlName="familyNotes"
							[ngModel]=family.data.notes
						>
						</textarea>
						<div>
							<button type="button" class="btn btn-outline-primary" (click)="submitNotes(family.key, i)">Save</button>
							<!-- button by default is of type="submit", needs to be set to 'button' in order not to trigger the ngSubmit -->
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
